.lilas{
    background-color: rgb(138, 43, 226);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.divRosa{
    background-color: #ff80ff;
    width: 250px;
    height: auto;
    border: 20px solid red;
}
.verdeAgua{
    background-color: rgb(86, 240, 219);
    height: 88%;
    width: 30%;
}